* {
    font-family: 'IBM Plex Sans';
}

body {
    background-image: radial-gradient(rgba(0, 0, 0, 0.4) 5%, #ffdde9 1%);
    background-position: 0 0;
    background-size: 30px 30px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.logo {
    height: 4rem;
}

h3 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    padding: 20px 0 0 0;
    display: flex;
    align-items: center;
    letter-spacing: 0.496657px;
    color: #1E1E1E;
}

p.sub_heading {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #607D8B;
}

.message{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 20px;
    padding: 20px 0 0 0;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #1E1E1E;
}

.progress {
    position: relative;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 2.5rem;
    display: flex;
    background: rgba(30, 30, 30, 0.24);
    border-radius: 2.25753px;
    overflow: visible;
}

.progress:after {
    content: attr(data-max);
    margin-left: auto;
    padding-right: 1rem !important;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18.0602px;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.496657px;
    color: #FFDDE9;
    position: absolute;
    right: 0;
}

.progress-bar {
    background: #5b5254;
    border-radius: 2.25753px;
    z-index: 1;
}

.progress-bar span {
    color: #ffdde9;
}

.progress-bar .current {
    margin-left: 1rem;
}

.circle-h1 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 44px;
    text-align: center;
    color: #263238;

}

.circle-sub {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;

    color: #263238;

}

#parallax {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../img/leaves2-1.png"), url("../img/leaves2-2.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    pointer-events: none;
    z-index: 2;
}

.empl-medal {
    display: inline-block;
    position: absolute;
    width: 2.1rem !important;
    height: 2.1rem !important;
    left: -2.1rem;
    top: 0.2rem;
    margin-right: 10px;
}


.progress-bar {
    transition: height 0.5s ease;
}

.premium-percent .text {
    font-weight: 700;
    line-height: 1.25rem;
    font-size: 18.0602px;
    font-family: 'IBM Plex Sans';
    word-break: keep-all;
}

.premium-percent-block {
    margin-bottom: 24px;
    word-break: keep-all;

}

.main-container {
    padding: 0 12em !important;
    word-break: keep-all;

}

.emoji-circle {
    height: 1px;
    padding-top: -2rem;
}

.emoji-circle img {
    margin-top: -2.5rem;
}

.h1_current_date {
    font-size: 20px;
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 920px;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}

.shifted{
    float:left;
}







